<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row mt-5">
        <div>
            <h2 class="text-center">Change Password</h2>
        </div>
    </div>

    <hr>

    <div class="row mt-5">
        <div class="col-6 password">
            <label for="" class="form-label">Current&nbsp;Password<sup class="text-danger">*</sup></label>
            <input type="password" class="form-control">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6 password">
            <label for="" class="form-label">Change&nbsp;Password<sup class="text-danger">*</sup></label>
            <input type="password" class="form-control">
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-6 password1">
            <label for="" class="form-label">New&nbsp;Password<sup class="text-danger">*</sup></label>
            <input type="password" class="form-control">
        </div>
    </div>

    <div class="text-end">
        <button class="btn btn-primary" > Change Password</button>

    </div>
</div>

